<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js" type="text/javascript" defer></script>

    <title>To do list</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <!-- Titoloo -->
        <h1>To do list</h1>

        <div class="interact">
          <!-- Spazio in cui aggiungere nuove cose alla lista -->
          <input
            v-model="newThingToDo"
            type="text"
            @keyup.enter="addThingToDo"
          />

          <!-- Pulsante aggiungi -->
          <button @click="addThingToDo">Add</button>
        </div>

        <ul>
          <li v-for="(thingToDo, index) in thingsToDo">
            <div :class="{ done: thingToDo.done }">
              <i
                @click="deleteThingToDo(index)"
                class="fa-solid"
                :class=" thingToDo.done ? 'fa-check' : 'fa-xmark'"
              >
              </i>

              <span @click="toggleThingToDo(thingToDo)"
                >{{ thingToDo.text }}</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
